
body{
  background-color: black;
  font-family: Arial, sans-serif;
}

/*inicio do cabeçalho*/
a{
  text-decoration: none;
  color: whitesmoke;
}


.W{
  font-size:1.5vh;
}

.logo img{
  width:10%;
  height: 2%;
  margin-left: 0%;
  display: flex;
}

.V{
  font-size: 1.5vh;
  text-align: left;
  padding-left: 1vh;
  margin-top: 1px;
}
.V h1{
  margin-left: -300%;
  margin-top: 20%;
  display: flex;
}

.Z{
  font-size: 1.5vh;
  padding-left:60%;
  margin-top: -0.2%;
}

.x{
  font-size: 1.5vh;
  margin-left: 35%;  
  margin-top: 1%;

}
header {
    background-color: #222;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #444;
}

.flex a:hover {
  text-decoration: underline;
}
.flex a{
  color:#06F957; 
  text-decoration: none;           
  font-size: 3vh;
}
.flex{
  padding: 15px 30px;
  color: #06F957;
  background-color:#222;
  display: flex;
  padding-left:;
  font-size: 2vh;
  text-align: right;
  text-decoration-style: none;
}


/*fim do cabeçalho*/
.banner{
  display: flex;
  background-color: black;
  width: 100%;
  height: 57vh;
}

.banner im{
	max-width: 100%; 
	height: 45px; 
	margin: 0px; 
	width: 2068px;
	width: 100%;
	height: 60vh;
}

.paizao{
  display: flex;
  background-color: black;
  width: 100%;
  height: 60vh;
}
.titulo1{
  height: 10vh;
}
.titulo1 h1{
  display: flex;
  margin-top: 4%;
  color: #fff;
  font-size: 5.5vh;
  justify-content: center;
}
.titulo2{
  height: 10vh;
}
.titulo2 h1{
  display: flex;
  margin-top: 2%;
  color: #fff;
  font-size: 5.5vh;
  justify-content: center;
}
  
/*produto1*/
.produto1{
  width: 23%;
  height: 60vh;
  align-items: center;
  background-color: #222;
  color: #fff;
  border-radius: 2px;
  margin-left: 3%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.produto1 h1{
  font-size: 3vh;
  justify-content: center;
  display: flex;
  margin-top: 2%;
}
.produto1 h2{
  font-size: 2.5vh;
  color: yellow;
  justify-content: center;
  display: flex;
  margin-top: -5%;
}
.contato{
   margin-top: 20%;
   background-color: beige;
   margin-left: 5%;
   width: 90%;
   height: 6vh;
}

.img1{
  width: 90%;
  height: 30vh;
  margin-top: 5%;
  align-items: center;
  background-color: beige;
  color: #fff;
  border-radius: 2px;
  margin-left: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.img1 img{
  width: 100%;
  height: 100%;
  border-radius: 1px;
}
/*produto2*/
.produto2{
  width: 23%;
  height: 60vh;
  align-items: center;
  background-color: #222;
  color: #fff;
  border-radius: 2px;
  margin-left: 1%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.produto2 h2{
  font-size: 3vh;
  justify-content: center;
  display: flex;
  margin-top: 2%;
}
.produto2 h3{
  font-size: 2.5vh;
  color: yellow;
  justify-content: center;
  display: flex;
  margin-top: -5%;
}
.contato2{
   margin-top: 20%;
   background-color: beige;
   margin-left: 5%;
   width: 90%;
   height: 6vh;
}

.img2{
  width: 90%;
  height: 30vh;
  margin-top: 5%;
  align-items: center;
  background-color: beige;
  color: #fff;
  border-radius: 2px;
  margin-left: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.img2 img{
  width: 100%;
  height: 100%;
  border-radius: 1px;
}
/*produto3*/

.produto3{
  width: 23%;
  height: 60vh;
  align-items: center;
  background-color: #222;
  color: #fff;
  border-radius: 2px;
  margin-left: 1%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.produto3 h2{
  font-size: 3vh;
  justify-content: center;
  display: flex;
  margin-top: 2%;
}
.produto3 h3{
  font-size: 2.5vh;
  color: yellow;
  justify-content: center;
  display: flex;
  margin-top: -5%;
}
.contato3{
   margin-top: 20%;
   background-color: beige;
   margin-left: 5%;
   width: 90%;
   height: 6vh;
}

.img3{
  width: 90%;
  height: 30vh;
  margin-top: 5%;
  align-items: center;
  background-color: beige;
  color: #fff;
  border-radius: 2px;
  margin-left: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.img3 img{
  width: 100%;
  height: 100%;
  border-radius: 1px;
}
/*produto4*/
.produto4{
  width: 23%;
  height: 60vh;
  align-items: center;
  background-color: #222;
  color: #fff;
  border-radius: 2px;
  margin-left: 1%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.produto4 h2{
  font-size: 3vh;
  justify-content: center;
  display: flex;
  margin-top: 2%;
}
.produto4 h3{
  font-size: 2.5vh;
  color: yellow;
  justify-content: center;
  display: flex;
  margin-top: -5%;
}
.contato4{
   display: flex;
   margin-top: 20%;
   background-color: beige;
   margin-left: 5%;
   width: 90%;
   height: 6vh;
}
.img4{
  width: 90%;
  height: 30vh;
  margin-top: 5%;
  align-items: center;
  background-color: beige;
  color: #fff;
  border-radius: 2px;
  margin-left: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.img4 img{
  width: 100%;
  height: 100%;
  border-radius: 1px;
}
/*parte2 do site*/

.paizao2{
	display: flex;
	width: 100%;
  height: 62vh;
  background-color: black;
}

.produto5{
  width: 63%;
  height: 97%;
  align-items: center;
  background-color: #222;
  color: #fff;
  border-radius: 2px;
  margin-left: 3%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.produto5 h2{
  font-size: 3vh;
  justify-content: center;
  display: flex;
  margin-top: -25%;
}
.produto5 h3{
  font-size: 2.5vh;
  color: yellow;
  justify-content: center;
  display: flex;
  margin-top: -5%;
}

.img5{
  width: 90%;
  height: 90%;
  margin-top: 3%;
  align-items: center;
  background-color: beige;
  color: #fff;
  border-radius: 2px;
  margin-left: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.img5 iframe{
  width: 100%;
  height: 100%;
  border-radius: 1px;
}

/*produto8*/

.produto8{
  width: 23%;
  height: 60vh;
  align-items: center;
  background-color: #222;
  color: #fff;
  border-radius: 2px;
  margin-left: 1%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.produto8 h2{
  font-size: 3vh;
  justify-content: center;
  display: flex;
  margin-top: -25%;
}
.produto8 h3{
  font-size: 2.5vh;
  color: yellow;
  justify-content: center;
  display: flex;
  margin-top: -5%;
}
.img8{
  width: 90%;
  height: 30vh;
  margin-top: 5%;
  align-items: center;
  background-color: beige;
  color: #fff;
  border-radius: 2px;
  margin-left: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.img8 img{
  width: 100%;
  height: 100%;
}

/*animações*/
@keyframes moveRight {
  0% {
    transform: translateX(15%);
  }
  30% {
    transform: translateX(-10%);
  }
}

.produtos-carousel {
  display: flex;
  animation: moveRight 10s infinite linear;
}

.produtos-carousel:hover {
  animation-play-state: paused;
}


.paizao .produto1:hover,
.paizao .produto2:hover,
.paizao .produto3:hover,
.paizao .produto4:hover {
  transform: scale(1.04); /* Aumenta em 5% quando hover */
  transition: transform 0.3s ease-in-out; /* Transição suave */
}

/*rodapé*/
footer {
  background-color: #222;
  color: #fff;
  font-size: 2vh;
  padding: 170px 0;


}
.roda1{
  margin-top: -8%;
}
.roda2{
  margin-top: 8%;
  justify-content: center;
  display: flex;
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
}

.footer-logo img {
  max-width: 100px;
  margin-left: -90%;
  margin-top: -30%;
  height: auto;
}

.footer-info {
  flex: 1;
  padding: 0 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 65%;
  margin-top: -10%;
}

.footer-links li {
  display: inline;
  margin-left: 4%;
}

.footer-links a {
  color: #06F957;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social {
  text-align: right;
}

.footer-social p {
  display: flex;
  margin-left: 0%;
}

.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social li {
  display: inline;
  margin-right: 10px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
}

.footer-social a:hover {
  text-decoration: underline;
}


.face img{
  display: flex;
  width: 20%;
  height: 4%;
  margin-top: ;
}
.insta img{
  display: flex;
  width: 25%;
  height: 4%;
   margin-top: -24.2%;
  margin-left: 45%;
}
.t img{
  display: flex;
  width: 15%;
  margin-top: -21%;
  margin-left: 27%;
  height: 0%;
}
.redes1{
  background-color:#222;
  width: 20%;
}
@media screen and(max-width:760                                                                   px){
   
body{
  background-color: black;
  font-family: Arial, sans-serif;
}

/*inicio do cabeçalho*/
a{
  text-decoration: none;
  color: whitesmoke;
}


.W{
  font-size:1.5vh;
}

.logo img{
  width:10%;
  height: 2%;
  margin-left: 0%;
  display: flex;
}

.V{
  font-size: 1.5vh;
  text-align: left;
  padding-left: 1vh;
  margin-top: 1px;
}
.V h1{
  margin-left: -400%;
  margin-top: 20%;
  display: flex;
}

.Z{
  font-size: 1.5vh;
  padding-left:60%;
  margin-top: -0.2%;
}

.x{
  font-size: 1.5vh;
  margin-left: 35%;  
  margin-top: 1%;

}
header {
    background-color: #222;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #444;
}

.flex a:hover {
  text-decoration: underline;
}
.flex a{
  color:#06F957; 
  text-decoration: none;           
  font-size: 3vh;
}
.flex{
  padding: 15px 30px;
  color: #06F957;
  background-color:#222;
  display: flex;
  padding-left:;
  font-size: 2vh;
  text-align: right;
  text-decoration-style: none;
}


/*fim do cabeçalho*/
.banner{
  display: flex;
  background-color: black;
  width: 100%;
  height: 57vh;
}

.banner im{
  max-width: 100%; 
  height: 45px; 
  margin: 0px; 
  width: 2068px;
  width: 100%;
  height: 60vh;
}

.paizao{
  display: flex;
  background-color: black;
  width: 100%;
  height: 60vh;
}
.titulo1{
  height: 10vh;
}
.titulo1 h1{
  display: flex;
  margin-top: 4%;
  color: #fff;
  font-size: 5.5vh;
  justify-content: center;
}
.titulo2{
  height: 10vh;
}
.titulo2 h1{
  display: flex;
  margin-top: 2%;
  color: #fff;
  font-size: 5.5vh;
  justify-content: center;
}
  
/*produto1*/
.produto1{
  width: 23%;
  height: 60vh;
  align-items: center;
  background-color: #222;
  color: #fff;
  border-radius: 2px;
  margin-left: 3%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.produto1 h1{
  font-size: 3vh;
  justify-content: center;
  display: flex;
  margin-top: 2%;
}
.produto1 h2{
  font-size: 2.5vh;
  color: yellow;
  justify-content: center;
  display: flex;
  margin-top: -5%;
}
.contato{
   margin-top: 20%;
   background-color: beige;
   margin-left: 5%;
   width: 90%;
   height: 6vh;
}

.img1{
  width: 90%;
  height: 30vh;
  margin-top: 5%;
  align-items: center;
  background-color: beige;
  color: #fff;
  border-radius: 2px;
  margin-left: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.img1 img{
  width: 100%;
  height: 100%;
  border-radius: 1px;
}
/*produto2*/
.produto2{
  width: 23%;
  height: 60vh;
  align-items: center;
  background-color: #222;
  color: #fff;
  border-radius: 2px;
  margin-left: 1%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.produto2 h2{
  font-size: 3vh;
  justify-content: center;
  display: flex;
  margin-top: 2%;
}
.produto2 h3{
  font-size: 2.5vh;
  color: yellow;
  justify-content: center;
  display: flex;
  margin-top: -5%;
}
.contato2{
   margin-top: 20%;
   background-color: beige;
   margin-left: 5%;
   width: 90%;
   height: 6vh;
}

.img2{
  width: 90%;
  height: 30vh;
  margin-top: 5%;
  align-items: center;
  background-color: beige;
  color: #fff;
  border-radius: 2px;
  margin-left: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.img2 img{
  width: 100%;
  height: 100%;
  border-radius: 1px;
}
/*produto3*/

.produto3{
  width: 23%;
  height: 60vh;
  align-items: center;
  background-color: #222;
  color: #fff;
  border-radius: 2px;
  margin-left: 1%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.produto3 h2{
  font-size: 3vh;
  justify-content: center;
  display: flex;
  margin-top: 2%;
}
.produto3 h3{
  font-size: 2.5vh;
  color: yellow;
  justify-content: center;
  display: flex;
  margin-top: -5%;
}
.contato3{
   margin-top: 20%;
   background-color: beige;
   margin-left: 5%;
   width: 90%;
   height: 6vh;
}

.img3{
  width: 90%;
  height: 30vh;
  margin-top: 5%;
  align-items: center;
  background-color: beige;
  color: #fff;
  border-radius: 2px;
  margin-left: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.img3 img{
  width: 100%;
  height: 100%;
  border-radius: 1px;
}
/*produto4*/
.produto4{
  width: 23%;
  height: 60vh;
  align-items: center;
  background-color: #222;
  color: #fff;
  border-radius: 2px;
  margin-left: 1%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.produto4 h2{
  font-size: 3vh;
  justify-content: center;
  display: flex;
  margin-top: 2%;
}
.produto4 h3{
  font-size: 2.5vh;
  color: yellow;
  justify-content: center;
  display: flex;
  margin-top: -5%;
}
.contato4{
   display: flex;
   margin-top: 20%;
   background-color: beige;
   margin-left: 5%;
   width: 90%;
   height: 6vh;
}
.img4{
  width: 90%;
  height: 30vh;
  margin-top: 5%;
  align-items: center;
  background-color: beige;
  color: #fff;
  border-radius: 2px;
  margin-left: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.img4 img{
  width: 100%;
  height: 100%;
  border-radius: 1px;
}
/*parte2 do site*/

.paizao2{
  display: flex;
  width: 100%;
  height: 62vh;
  background-color: black;
}

.produto5{
  width: 63%;
  height: 97%;
  align-items: center;
  background-color: #222;
  color: #fff;
  border-radius: 2px;
  margin-left: 3%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.produto5 h2{
  font-size: 3vh;
  justify-content: center;
  display: flex;
  margin-top: -25%;
}
.produto5 h3{
  font-size: 2.5vh;
  color: yellow;
  justify-content: center;
  display: flex;
  margin-top: -5%;
}

.img5{
  width: 90%;
  height: 90%;
  margin-top: 3%;
  align-items: center;
  background-color: beige;
  color: #fff;
  border-radius: 2px;
  margin-left: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.img5 iframe{
  width: 100%;
  height: 100%;
  border-radius: 1px;
}

/*produto8*/

.produto8{
  width: 23%;
  height: 60vh;
  align-items: center;
  background-color: #222;
  color: #fff;
  border-radius: 2px;
  margin-left: 1%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.produto8 h2{
  font-size: 3vh;
  justify-content: center;
  display: flex;
  margin-top: -25%;
}
.produto8 h3{
  font-size: 2.5vh;
  color: yellow;
  justify-content: center;
  display: flex;
  margin-top: -5%;
}
.img8{
  width: 90%;
  height: 30vh;
  margin-top: 5%;
  align-items: center;
  background-color: beige;
  color: #fff;
  border-radius: 2px;
  margin-left: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.img8 img{
  width: 100%;
  height: 100%;
}

/*animações*/
@keyframes moveRight {
  0% {
    transform: translateX(15%);
  }
  30% {
    transform: translateX(-10%);
  }
}

.produtos-carousel {
  display: flex;
  animation: moveRight 10s infinite linear;
}

.produtos-carousel:hover {
  animation-play-state: paused;
}


.paizao .produto1:hover,
.paizao .produto2:hover,
.paizao .produto3:hover,
.paizao .produto4:hover {
  transform: scale(1.04); /* Aumenta em 5% quando hover */
  transition: transform 0.3s ease-in-out; /* Transição suave */
}

/*rodapé*/
footer {
  background-color: #222;
  color: #fff;
  font-size: 2vh;
  padding: 170px 0;


}
.roda1{
  margin-top: -8%;
}
.roda2{
  margin-top: 8%;
  justify-content: center;
  display: flex;
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
}

.footer-logo img {
  max-width: 100px;
  margin-left: -90%;
  margin-top: -30%;
  height: auto;
}

.footer-info {
  flex: 1;
  padding: 0 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 65%;
  margin-top: -10%;
}

.footer-links li {
  display: inline;
  margin-left: 4%;
}

.footer-links a {
  color: #06F957;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social {
  text-align: right;
}

.footer-social p {
  display: flex;
  margin-left: 0%;
}

.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social li {
  display: inline;
  margin-right: 10px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
}

.footer-social a:hover {
  text-decoration: underline;
}


.face img{
  display: flex;
  width: 20%;
  height: 4%;
  margin-top: ;
}
.insta img{
  display: flex;
  width: 25%;
  height: 4%;
   margin-top: -24.2%;
  margin-left: 45%;
}
.t img{
  display: flex;
  width: 15%;
  margin-top: -21%;
  margin-left: 27%;
  height: 0%;
}
.redes1{
  background-color:#222;
  width: 20%;
}
}